*{
  margin:0;
  padding:0;
}
p,
a{
  font-family: 'Roboto', sans-serif;
}
a{
  cursor: pointer;
}
a:hover,
a:link,
a:active,
a:visited{
  text-decoration: none;
  color:rgb(0, 0, 0)
}

body{
  padding-top: 64px;
  padding-left: 80px;
  background-color: #f9f9f9;

}
/* header */
header{
  background-color: rgb(255, 255, 255);
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #dedede;
  z-index: 1;
}
.tooltip{
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background-color: rgba(96, 96, 96, 0.9);
  padding: 8px;
  border-radius: 2px;
  position: absolute;
  bottom: -50px;
  pointer-events: none;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;  
  transition: opacity 0.15s;
}
.tooltip-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tooltip-container:hover .tooltip{
  opacity: 1;
}

/*  left section */
.left-section{
  display: flex;
  align-items: center;
  
}
.youtube-logo{
  height:20px;
  cursor: pointer;

}
.hamburger-menu{
  height:24px;
  margin: 0 24px;
  cursor: pointer;
}

/* Search section */
.search-bar{
  flex:1;
  display: flex;
  background-color: rgb(255, 255, 255);
  margin: 0 30px 0 60px;
  max-width: 470px;
  align-items: center;
}
.search{
  height:40px;
  flex:1;
  max-width: 344px;
  padding-left: 12px;
  border: 1px solid rgb(214, 214, 214);
  font-size: 16px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width:0;
}
.search:focus{
  outline: none;
  border: 1px solid rgb(35, 105, 255);
  border-right-width: 2px;
}

.search::placeholder{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.search-button,
.voice-search{
  height: 42px;
  border: 1px solid rgb(214, 214, 214);
  cursor: pointer;
}
.search-button{
  width:64px;
  margin-left: -1px;
  background-color: #f7f7f7;
}
.lense,
.microphone{
  width:24px;
}
.voice-search{
  width:40px;
  border:none;
  margin-left:8px;
  border-radius: 25px;
  background-color: #f8f8f8;
}

/* right section */
.right-section{
  width:205px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.icon{
  width:24px;
  cursor: pointer;
}
.personal-channel-avatar{
  width:32px;
  border-radius: 30px;
  margin-right: 24px;
  cursor: pointer;
}
.notifications{
  position: relative;
  display: flex;
}
.notification-count{
  align-items: center;
  justify-content: center;
  background-color: #cc0000;
  position: absolute;
  top:-4px;
  left: 12px;
  padding: 1px 5px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  /* font-weight: 500; */
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
  pointer-events: none;

}

/* side bar */
nav{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  position: fixed;
  top:60px;
  bottom: 0;
  left:0;
  z-index: 2;
}
.side-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:74px;
  width: 72px;
  cursor: pointer;
}
.side-icon:hover{
  background-color: rgb(255, 255, 255);
  filter: brightness(95%);
}
.icon-name{
  font-size: 10px;
  margin-top: 6px;
}
/* additional exercise #17.c */
@media(min-width:1200px){
  nav{
    width: 240px;
    padding-top: 15px;
  }
  body{
    padding-left: 240px;
  }
  .side-icon{
    flex-direction: row;
    width:240px;
    height: 48px;
    justify-content: left;
  }
  .side-icon .icon{
    margin: 0 24px;
  }
  .icon-name{
    font-size: 14px;
    margin: 0;
  }
}

/* grid for videos */

.video-grid{
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}
@media (max-width: 869px) {
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1125px){
  .video-grid{
    grid-template-columns:  1fr 1fr 1fr 1fr;
  }
}

/* work with images */
.video-picture{
  width:100%;
}
.avatar{
  border-radius: 50%;
  width: 36px;
}
.video-thumbnail{
  position: relative;
}
.video-time{
  position: absolute;
  bottom: 8px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 4px;
  border-radius: 2px;
  pointer-events: none;
}

/* text inside preview */
.channel{
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 10px;
  margin-top: 10px;
}
.video-name{
  font-size:14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.channel-name,
.video-stats{
  color:#606060;
  font-size:12px;
  line-height: 20px;
  display: block;
}

/* Additional exercise 16 (only for first two videos)*/
.channel-tooltip{
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  padding: 15px;
  position: absolute;
  bottom: -52px;
  border-radius: 5px;
  transition: opacity 0.15s;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.channel-tooltip .avatar{
  width:44px;
  margin-right: 10px;
}
.subscribers{
  color:#606060;
  font-size: 14px;
}
.channel-tooltip .channel-name{
  font-size: 16px;
  font-weight: bold;
  color:rgb(0, 0, 0);
}
.channel-avatar{
  position: relative;
}
.box-with-tooltips:hover .channel-tooltip{
  opacity: 1;
}